
# Generated
/.gradle
/_book
/build
/target
/Classes
/node_modules
npm-debug.log

# IDEs
/.idea
/.settings
.classpath
.project
*.iml
/nbproject/
*~
pom.xml.bak
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
